main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#table {
    display: inline-grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 800px;
}

.card {
    width: 100%;
    border: 4px solid transparent;
    transition: border-color 1s;
}

.card:hover {
    border-color: violet;
    cursor: pointer;
}

#counter {
    font-size: 4em;
    margin: auto;
    color: blueviolet;
}